<div class="booyah-box col-xs-6 col-xs-offset-3 text-center">
<div id="wrap">

  <h1>Game On!</h1><br />

  <h2><%= @game.name %></h2><br />
  <% if @game.player_black.present? %>
    <% if @game.is_in_check?(@game.player_black) %>
      <p>Black is in check!</p>
    <% end %>
  <% end %>
  <% if @game.is_in_check?(@game.player_white) %>
    <p>White is in check!</p>
  <% end %>
  <p>Black</p>
  <% if @game.player_black.nil? %>
  <% else %>
  <%= @game.player_black.email %>
  <% end %>
<table>
  <tbody>
    <% selected_piece = @game.pieces.select { |p| p.is_selected }.first %>
    <% (0..7).each do |row| %>
       <tr>
        <% (0..7).each do |col| %>
       	  <td class="<%= "gray-space" if (col.even? && row.odd?) || (col.odd? && row.even?) %>">
         <!-- find out if there is a piece in the square -->          
          <% piece = piece_finder(row,col) %>    
          <% square_desc = "x" %>
            <% if piece %>
              <% square_desc = "#{piece_color(row, col)} #{piece.type}" %>
            <% end %>
          <!-- if there is a selected piece, draw move UI-->
            <% if selected_piece %>
              <% square_id = row * 8 + col %>
              <% if piece.nil? || piece.id != selected_piece.id %>
                <%= link_to square_desc, move_piece_path(square_id) %>
              <% else %>
                <strong><%= square_desc %></strong>
              <% end %>
            <% elsif piece %>
          <!-- if there is a piece and it's the current user's, draw select UI -->
              <% if piece.user_id == current_user.id %>
            		<%= link_to square_desc, select_piece_path(piece) %> 
          		<% else %>    
                <%= square_desc %>
              <% end %>                
            <% end %>             
          </td>
        <% end %>  
     </tr>
 	  <% end %>
  </tbody>
</table>
<br /><br />

<p>White</p>
<%= @game.player_white.email %>

</div>
</div>
