<div class="booyah-box col-xs-6 col-xs-offset-3 text-center">
<div id="wrap">
 
  <h1>Game On!</h1><br />
  <h2><%= @game.name %></h2><br />

  <p>Black</p>
  <% if @game.player_black.nil? %>
  <% else %>
  <%= @game.player_black.email %>
  <% end %>
<table>
  <tbody>
  <% (0..7).each do |row| %>
    <tr>
      <% (0..7).each do |col| %>
        <td class="<%= "gray-space" if (col.even? && row.odd?) || (col.odd? && row.even?) %>">
        <% piece = get_piece_at_position(row, col) %>
        <% if piece %>
          <%= link_to "#{get_piece_color(@game, piece)} #{piece.type}", "#" %>
        <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<br /><br />

<p>White</p>
<%= @game.player_white.email %>

</div>
</div>